.site-info ul {
	list-style-type: none !important;
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */	
	text-align: left;
	font-size: 14px !important; 
}
.site-info {
	box-shadow: 0px !important; 
	border-top: 4px solid #ccc;
	padding-top: 20px;
}

.entry-meta img { 
	width: auto;
	height: 10px;
	padding: 3px 5px;
	margin-right: 5px;
	background-color: lightgray;
}

/* Lay-out of the social buttons */
.entry-content {
	margin-bottom: 10px; /* Standard was 34, which gave a large distance between the social buttons and the "posted in ..." */
}

.shariff {
	margin-top: 20px;
}

/* Remove shadows from standard theme */
body {
	text-shadow: none !important; 
	box-shadow: 0px !important;
}

#access, .widget {
	box-shadow: 0px !important; 
	border-bottom: 4px solid #ccc;
}

/* Improve lay-out of the side bar with widgets */
.widget h3  {
	font-size: 16px !important; 
}

.widget-area li {
	font-size: 14px !important; 
}

.search-field {
	height: 28px !important;
	border-radius: 5px !important; 
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	border: 2px solid #21759B; 
}


